@media (max-width: 84rem) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 64.5rem) {
	html {
		font-size: 45%;
	}

	.dashboard-content-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.mp-feed {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	.mp-pending-requests {
		grid-column: 3/5;
		grid-row: 1/3;
	}

	.mp-reminders {
		grid-column: 1/3;
		grid-row: 3/5;
	}

	.mp-flight-status {
		grid-column: 1/3;
		grid-row: 5/7;
	}

	.mp-crew-status {
		grid-column: 3/5;
		grid-row: 3/5;
	}

	.mp-lighting {
		grid-column: 3/5;
		grid-row: 5/7;
	}

	.menu-current,
	.menu-link {
		font-size: 1.6rem;
	}

	.pending-requests-container {
		grid-template-columns: 1fr 0.5fr 2.5fr 3fr;
	}

	.request-icon {
		display: none;
	}

	.crew-profile-card {
		padding: 1rem;
		max-width: 20rem;
	}

	.crew-full-name {
		font-size: 1.8rem;
	}

	.crew-profile-pic {
		max-width: 15rem;
		border: 2px solid var(--color-neutral-constrast);
	}
}

@media (max-width: 47.5rem) {
	.menu-container {
		max-width: 8rem;
	}

	.menu-current,
	.menu-link {
		display: none;
	}

	.mp-flight-status {
		grid-column: 1/5;
	}

	.mp-lighting {
		grid-column: 1/3;
		grid-row: 7/9;
	}

	.crew-group-card-container {
		gap: 1.5rem;
	}
}

@media (max-width: 37.5rem) {
	.app-container {
		gap: 0.5rem;
	}

	.top-bar {
		padding: 0.5rem;
	}

	.logo,
	.account-ico {
		width: 4rem;
	}

	.content-container {
		gap: 0.5rem;
	}

	.menu-container {
		min-width: 100%;
		padding: 0.5rem;
		overflow-y: scroll;
		scrollbar-width: none;
		border-radius: 2rem;
		background-color: var(--color-primary);
	}

	.menu {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 0.2rem;
	}

	.menu-item,
	.menu-item-current {
		padding: 0;
		background-color: transparent;
	}

	.menu-item-icon,
	.menu-item-icon-current {
		width: 4.5rem;
		padding: 0.2rem;
		border: none;
		border-radius: 1.5rem;
	}

	.menu-item-icon {
		background-color: var(--color-analogous-lighter);
	}

	.menu-item-icon-current {
		background-color: var(--color-alt-background);
	}

	.menu-item-current {
		padding: 0;
	}

	.menu-item:hover,
	.menu-item:active {
		background-color: transparent;
	}

	.content-container {
		flex-direction: column;
	}

	.flight-number {
		font-size: 1.8rem;
	}

	.dashboard-content-container {
		grid-template-columns: 1fr 1fr;
	}

	.mp-pending-requests {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	.mp-reminders {
		grid-column: 1/3;
		grid-row: 3/5;
	}

	.mp-feed {
		grid-column: 1/3;
		grid-row: 5/7;
	}

	.mp-flight-status {
		grid-column: 1/3;
		grid-row: 7/9;
	}

	.mp-crew-status {
		grid-column: 1/3;
		grid-row: 9/11;
	}

	.mp-lighting {
		grid-column: 1/3;
		grid-row: 11/13;
	}

	.crew-group-card-container {
		gap: 1rem;
	}
}
